<h1>Faltiron Store</h1>
<h2>Categories</h2>
<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %> |
<% end %>

<h2>Items</h2>
<% @items.available_items.each do |item| %>
    <h3><%= item.title %> | <%= to_currency(item.price) %></h3>
    <% if logged_in? %>
      <%= button_to 'Add to Cart', line_items_path(item_id: item), class: 'btn btn-primary' %>
    <% end %>
<% end %>